{erl_opts, [debug_info]}.

{deps, [ 
       {mixer, "1.2.0", {pkg, inaka_mixer}}, 
       {jsx, "3.1.0"},
       {ranch, "2.1.0"},
       {trails, "2.3.0"},
       {cowboy, "2.8.0"},
       {cowboy_swagger, "2.5.0"}
]}.

{relx, [{release, {cache, "1.0.0"}, [cache, sasl]},
        {sys_config, "./config/sys.config"},
        {extended_start_script, true},
        {overlay,
         [
          % {copy, "./_checkouts/cowboy_swagger/priv/swagger", "priv/swagger"}
          %% The above should be changes to the following when cowboy_swagger is
          %% used as a normal dependency (instead of _checkouts):
            {copy, "./_build/default/lib/cowboy_swagger/priv/swagger", "priv/swagger"}
         ]
        }
       ]}.

{profiles, [
       {prod, [
              {relx,[{dev_mode, false}, 
                     {include_erts, true}]}
       ]},
       {test, [
              {deps, [{gun, "1.3.3"}, meck]},
              {erl_opts, [debug_info]}
       ]}
]}.

{plugins, [
    rebar3_run,
    {rebar_alias, "0.2.0"},
    {rebar3_hex, "7.0.2"}
]}.

{alias, [
    {test, [dialyzer, xref, ct]}
]}.

{dialyzer, [
    {warnings, [no_return,
              error_handling,
              unknown]},
    {plt_apps, all_deps},
    {plt_extra_apps, [erts, kernel, stdlib]},
    {plt_location, local},
    {base_plt_apps, [stdlib, kernel]},
    {base_plt_location, global}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/namespace/your_app">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.