[
  { cache, [
    {http_port, 8000}]
  },

  {cowboy_swagger,
  [
   %% `static_files`: Static content directory. This is where Swagger-UI
   %% is located. Default: `priv/swagger`.
   %% Remember that Swagger-UI is embedded into `cowboy-swagger` project,
   %% within `priv/swagger` folder. BUT you have to reference that path,
   %% and depending on how you're using `cowboy-swagger` it will be different.
   %% For example, assuming that you want to run your app which has
   %% `cowboy-swagger` as dependency from the console, `static_files` will be:
  %  {static_files, "./cowboy_swagger/priv/swagger"},
  %  {static_files, "priv/swagger"},
   {static_files, "./_build/default/lib/cowboy_swagger/priv/swagger"},
  %  {static_files, "/home/hasithaadhikari/Erlang/cache/_build/default/lib/cowboy_swagger/priv/swagger"},


   %% `global_spec`: Global fields for Swagger specification.
   %% If these fields are not set, `cowboy_swagger` will set default values.
   {global_spec,
    #{swagger => "2.0",
      info => #{title => "Cache API"},
      basePath => "/"
     }
   }
  ]
 }

].
